@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
/*------------***Common-Layout---start***------------*/

* {
   padding: 0;
   margin: 0;
   scroll-behavior: smooth;
   box-sizing: border-box;
    font-family: "poppins";
}


:root {
    --pc: #D60F0F;
    --sc: #0875AA;
    --gradient: linear-gradient(90deg, #D60F0F 37.02%, rgba(255, 204, 0, 0.7) 100%);
    --white:#fff;
    --black: #000;
    --light-white:#ffffffde;
    --txt-color:#32302f;
    --border:1px solid #A19D9D;
    /* --light-white:#ced4da; */
    /* --gradient-col: #242627; */
    /* --fw-2:500; */
    /* --fw-3:600; */
    /* --fw-4:700; */
      /* Size */
    /* --fs-20: 20px; */
    /* --fs-18: 18px; */
    /* --fs-17: 17px; */
    /* --fs-30:30px; */
    --transition:all 0.3s ease-in-out;
}

a{
  text-decoration: none;
}

p{
    color: var(--txt-color);
    line-height: 1.6;
}

  img,
  svg {
  vertical-align: middle;
  }

  .img-fluid {
      max-width: 100%;
      height: auto;
  }

   button,
  [role=button] {
    cursor: pointer;  
    border: unset;
    font-size: 1rem;
    outline: none;
    background-color: transparent;
  }

  input:focus-visible{
       border: unset;
       outline: unset;
  }

.container,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.bd-gutter {
  --bs-gutter-x: 3rem;
}

.container-fluid{
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-right: auto;
    margin-left: auto;
    --bs-gutter-x: 3rem;
    --bs-gutter-y: 0;
}

/* Bhawna Css Start */

/* heading start */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 1.5;
  color: var(--black);
  font-weight: 700;
}

    h1,
    .h1 {
    font-size: clamp(1.625rem, 1rem + 1.6667vw, 2.5rem);
    line-height: 1.4;
    }

    .all-page h2,
    .h2 {
    font-size: clamp(1.625rem, 1.3846rem + 0.9615vw, 2.25rem) !important;
    }

    .all-page h3,
    .h3 {
    font-size: clamp(1.5rem, 1.2321rem + 0.7143vw, 1.875rem);
    margin-bottom: 10px;
    }

    .all-page h4,
    .h4 {
    font-size: clamp(1.25rem, 0.9821rem + 0.7143vw, 1.625rem);
    }

    .all-page h5,
    .h5 {
    font-size: clamp(1.25rem, 1.1607rem + 0.2381vw, 1.375rem);
    }

    .all-page h6,
    .h6 {
    font-size:18px;
    }
/* heading end */

/* Bhawna Css end */


.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
  }
  .row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
  }


  .top-sec-space{
    margin-top: 50px;
  }

  .sec-space{
    margin-bottom: 50px;
  }

  /* flex start */
  [class*="d-flex"]{
   display: flex;
}

.align-center{
    align-items: center;
}

.flex-center{
    display: flex; align-items: center; justify-content: center; 
}

.flex-between{
    justify-content: space-between;
}

.wrap{
    flex-wrap: wrap;
}

.gap-10 { gap: 10px; }
.gap-30 { gap: 30px; }
  /* flex end */


  /* button start */
  [class*="-btn"]{
    border: 1px solid var(--pc);
  }
  .outline-btn{
    background-color: var(--white);
  }

  .primary-btn{
    background-color: var(--pc);
  }
  /* button end */




  
  /* responsive */
        @media (min-width: 576px) {
            .container {
                max-width: 540px;
            }
        }

        @media (min-width: 768px) {
            .container {
                max-width: 720px;
            }

            }

            @media (min-width: 992px) {
                .container {
                    max-width: 960px;
                }

                     .col-lg-4 {
                    flex: 0 0 auto;
                    width: 33.33333333%;
                  }
                     
                .col-lg-6 {
                    flex: 0 0 auto;
                    width: 50%;
                  }

               
            }


            @media (min-width: 1200px) {
                .container {
                    max-width: 1140px;
                }

            }
            
            @media (min-width: 1400px) {
                .container {
                    max-width: 1320px;
                }
            }
              