@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --primary: linear-gradient(180deg, rgba(255, 255, 255, 0) 52.97%, #c300ff 90.62%, #ffffff 100%), 
  linear-gradient(101.9deg, #851ec0 1.09%, #d32e80 50.91%, #a036dd 100.74%);
  --gradient: linear-gradient(90.93deg, #fddd47 0.6%, #fb953c 66.79%);
  --gradient-btn: linear-gradient(135deg, #2779B7, #1F988D);
  --btn-primary: linear-gradient(90deg, #22c55e, rgba(43, 96, 235, 1));
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Background Section */
.bg {
  background-image: url("img/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;     
  background-position: center; 
  width: 100%;               
  /* height: 100vh;   */
}

/* Header Section */
.hero {
  padding: 80px 20px 50px;
  color: #fff;
}

.heading-text {
  color: #2b60eb;
}

.heading-contant {
  padding-top: 10px;
  font-size: 20px;
  color: #485563;
}

.gradient-color {
  background: linear-gradient(90deg, #ffe259, #ffa751);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

/* Stats Section */
.stats {
  display: grid;
  justify-content: center;
}

.stats-main {
  font-size: clamp(24px, 3vw, 36px);
  font-weight: 700;

  color: #fff !important;
}

.stats-sub {
  font-size: 14px;
  /* opacity: 0.8; */
  color: white;
  font-weight: 500;
}

/* best offer */


.card-bg {
  background-color: #f5f5f5;

}

.card {
  text-align: center;
  position: relative;
  background: #fff;
  border-radius: 20px;
  padding: 30px 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);

  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}


.badge {
  position: absolute;
  top: 0px;
  left: 0px;
  background: #ff5a3c;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  padding: 6px 15px;
  border-radius: 10px 0 0 0;
}


.title {
  font-size: 1.2rem;
  font-weight: 700;
  color: #222;
  margin-top: 10px;
}

.subtitle {
  color: #4b4b4b;
  font-size: 14px;
  margin: 5px 0 15px;
}


.card-btn {
  display: inline-block;
  padding: 12px 0;
  width: 100%;
  border: none;
  border-radius: 30px;
  background: var(--btn-primary);
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  transition: 0.3s;
  display: flex;
  justify-content: center;
}




/* Features Section */
.features {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  max-width: 1280px;
  margin: 0 auto;
  gap: 30px;
  text-align: center;
  padding: 40px 20px;

}

.feature {
  flex: 1 1 300px;
  background: #fff;
  padding: 0px 20px 20px;
  border-radius: 10px;
  height: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  border: 1px solid #f5f5f5;
  transition: transform 0.3s ease,
    box-shadow 0.3s ease;
}

.feature:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

.feature-icon {
  width: 60px;
  height: 60px;
  margin: 25px auto;
  /* background: linear-gradient(135deg, #c300ff, #ff0077); */
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

/* Utility */
.text-align-center {
  text-align: center;
}



.tool-card {
  /* background: #fff; */
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  border: 1px solid #f5f5f5;
  padding: 40px 30px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tool-card:hover {
  transform: translateY(-6px);
  /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); */
}

.tool-icon {
  width: 60px;
  height: 60px;
  margin: 0 auto 20px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 28px;
}

.tool-card h3 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: #111827;
}

.tool-card p {
  font-size: 0.95rem;
  color: #4b5563;
  margin-bottom: 25px;
}

.tool-btn {
  display: inline-block;
  background: var(--gradient-btn);
  color: #fff;
  font-weight: 600;
  padding: 10px 30px;
  border-radius: 30px;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.tool-btn:hover {
  opacity: 0.8;
}



.start {
  display: flex;
  font-size: 20px;
  color: #FFD700;
  margin-bottom: 5px;
}



.contact-form {
  padding: 20px 10px;
  border-radius: 20px;
}

.form-row {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-weight: 500;
  margin-bottom: 10px;
  color: #333;
  font-size: 14px;
}

input,
select,
textarea {
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 15px;
  font-size: 14px;
  transition: border-color 0.3s;
  font-family: inherit;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #6c63ff;
  outline: none;
}

textarea {
  resize: none;
  height: 100px;
}

.char-info {
  text-align: right;
  padding-top: 5px;
  font-size: 12px;
  color: #888;
}

.contact {}

.contact-info {
  max-width: 320px;
}

.info-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.info-icon {
  width: 40px;
  height: 40px;
  background-color: #e9efff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.info-text h4 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.info-text p {
  margin: 2px 0;
  color: #555;
  font-size: 14px;
}

.newsletter {
  color: #fff !important;
  background: var(--gradient-btn);
}

.news-fea h5,
.news-text {
  color: #fff;
}

.news-head {
  font-size: clamp(40px, 5vw, 48px);
  font-weight: 700;
  padding-bottom: 20px;
}

.news-para {
  font-size: 20px;
  line-height: 1.6;
  margin: 0 200px;
}

.submit-btn {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news-search>input {
  width: 100%;
  max-width: 220px;
  border-radius: 50px;
}

.cta {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
}


.cta-content {
  padding: 30px;
  border-radius: 14px;
  text-align: center;
  color: #fff !important;
  background: var(--btn-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}



.cta-btn {
  padding: 12px 30px;
  border-radius: 30px;
  background: linear-gradient(135deg, #1F2937, #111827);
  width: fit-content;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.cta-btn:hover {
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #c300ff, #ff0077);
}


.cta-para,
.cta-heading {
  color: #ffffff;
}


/* slider start */

.slider-container {
  position: relative;
  height: 100%;
}


.swiper {
  width: 100%;
  height: 100%;
}

.test-slider {
  text-align: center;
  font-size: 16px;
  line-height: 1.6;
  background-color: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 10px;
  padding: 20px;
  color: #323232;
}




.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.test-img {
  height: 30px;
  border-radius: 50%;
  padding-right: 15px;
}

.swiper-wrapper {
  margin-bottom: 50px;
}

.testimonial-text,
.author-name {
  text-align: left;
}



/* slider end */

.news-fea {
  margin: 0 130px;
}


@media (min-width: 765px) {
  .text-para,
  .text-para {
    font-size: 22px;
    margin-top: 10px;
    margin: 0 250px;
  }
}

@media (min-width: 1008px) {
  .news-para {
    margin: 0px;
  }

    .news-fea {
    margin: 0px;
  }

  .test-slider {
    margin: 20px;
  }

  /* .text-para,
  .text-para {
    font-size: 20px;
    line-height: 1.7;
    margin-top: 10px;
    font-weight: 400;
    margin: 0 150px;
  } */
  

}

@media (min-width: 768px) {
  .stats {
    grid-template-columns: repeat(4, 250px);
  }
}


@media (max-width: 768px) {
 
  

  .stats {
    grid-template-columns: repeat(2, 1fr);
  }

  .features {
    flex-direction: column;
    align-items: center;
  }

  .tools {
    flex-direction: column;
    align-items: center;
  }

    .space {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  .hero {
    padding: 50px 20px 20px;
    color: #fff;
  }

}

@media (max-width: 480px) {
  .btn {
    /* width: 100%; */
  }
}


